/* Header  Connexion*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(9, 31, 67);
    padding: 2rem;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.nav--img {
    height: 80px;
}

.nav-item {
    color: rgb(48, 128, 207, 0.8);
    font-size: 60px;
}
.logo-connexion {
    max-height: 100px;
    margin-right: auto;
    margin-left: auto;
}