/* Page account */ 

.user-container {
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 1rem;
    width: 60%;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.account--input {
    text-align: center;
    padding: 0.5rem;
}