/* Bloc comprenant le header, l'image du restaurant et le nom du restaurant avec l'icone favoris */ 

.title {
    font-family: "shrikhand";
    position: relative;
    &--menu {
        text-align: center;
        margin-bottom: 0.8rem;
        font-size: 1.8rem;
        margin-left: auto;
        margin-right: auto;
        text-decoration: underline white;
        @media screen and (min-width: $screen-sm-tablet) and (max-width: $screen-lg-tablet) {
            font-size: 2.5rem;
        }
        @media screen and (min-width: $screen-sm-laptop) and (max-width: $screen-xlg-laptop) {
            font-size: 2.8rem;
        }
    }
    &--restaurant {
        font-size: 1.5rem;
        display: flex;
        justify-content: space-between;
        @media screen and (min-width: $screen-sm-tablet) and (max-width: $screen-lg-tablet) {
            font-size: 1.8rem;
            
        }
        @media screen and (min-width: $screen-sm-laptop) and (max-width: $screen-xlg-laptop) {
            font-size: 2rem;
            justify-content: center;
        }
    }
}

.return--link {
    position: absolute;
    left: 1rem;
    top: 0.5rem;
    font-size: 1.2rem;
}

.menu {
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    padding: 0.6rem;
    border-top-right-radius: 2rem;
    border-top-left-radius: 2rem;
    position: relative;
    bottom: 3rem;
    @media screen and (min-width: $screen-sm-tablet) and (max-width: $screen-lg-tablet) {
        padding: 1rem;
    }
    @media screen and (min-width: $screen-sm-laptop) and (max-width: $screen-xlg-laptop) {
        bottom: 25rem;
        height: 40rem;
    }
   
}

.menu--laptop {
    @media screen and (min-width: $screen-sm-laptop) and (max-width: $screen-xlg-laptop) {
        height: max-content;
        display: flex;
        justify-content: space-between;
    }
}

.section--menu {
    @media screen and (min-width: $screen-sm-laptop) and (max-width: $screen-lg-laptop) {
        width: 30%;
    }
}
.photo {
    width: 100%;
    height: auto;
    position: relative;
}


/* Bloc comprenant toutes les propriétés sur les plats et les animations lors de leur selection */ 

.plate__name {
    width: 80%;
    font-size: 0.8rem;
    padding: 0.25rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    &--description {
        font-size: 0.7rem;
        font-style: normal;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 10rem;
        @media screen and (min-width: $screen-sm-tablet) and (max-width: $screen-lg-tablet) {
            font-size: 0.9rem;
        }
        @media screen and (min-width: $screen-lg-laptop) and (max-width: $screen-xlg-laptop) {
            font-size: 1rem;
        }
    }
    @media screen and (min-width: $screen-lg-laptop) and (max-width: $screen-xlg-laptop) {
        width: 22rem;
        font-size: 1rem;
    }
}

.plate__animation {
    opacity: 0;
    padding: 0;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    margin: 0;
    text-align: center;
    width: 0%;
    background-color: #99E2D0;
    margin-left: 3rem;
    @media screen and (min-width: $screen-sm-tablet) and (max-width: $screen-lg-tablet) {
        padding-top: 0.6rem;
        padding-bottom: 0.6rem;
        margin-left: 5rem;
    }
}

.fa-check-circle {
    color: white;
    font-size: 1rem;
}

.plate__price {
    display: inline-block;
    font-weight: bold;
    padding: 0.5rem;
    padding-top: 0;
    position: absolute;
    top: 40%;
    right: 0.5rem;
    font-size: 0.8rem;
    @media screen and (min-width: $screen-sm-tablet) and (max-width: $screen-lg-tablet) {
        font-size: 1rem;
        right: 10%;
    }
    @media screen and (min-width: $screen-lg-laptop) and (max-width: $screen-xlg-laptop) {
        font-size: 0.9rem;
        margin-left: 1rem;
        right: 5%;
    }
}

.menu__list {
    padding-left: 0;
}

.plate {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 0.75rem;
    box-shadow: 0 5px 15px #aaa;
    background-color: white;
    padding: 0;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
    height: 3rem;
    animation: plate 1000ms linear 1s forwards;
    opacity: 0;
    max-width: 100%;
    @media screen and (min-width: $screen-sm-tablet) and (max-width: $screen-lg-tablet) {
        padding-top: 0.6rem;
        padding-bottom: 0.6rem;
    }
    @media screen and (min-width: $screen-lg-laptop) and (max-width: $screen-xlg-laptop) {
        max-width: 30rem;
        padding-top: 0.3rem;
        padding-bottom: 0.3rem;
    }
    &:hover {
        .plate__animation {
            display: flex;
            height: 3rem;
            width: 15%;
            border-top-right-radius: 0.75rem;
            border-bottom-right-radius: 0.75rem;
            justify-content: center;
            align-items: center;
            animation: check 400ms ease-in-out backwards;
            transform-origin: 50% 0%;
            opacity: 1;
            
        }
        .fa-check-circle {  
            transform: rotate(360deg);
            transition: transform linear 400ms;
        }
        .plate__price {
            transform: translate(-120%);
            transition: transform linear 400ms;
            
        }      
    }   
}


@keyframes check {
    0% { width: 0%; }
    100% { width: 15%; }
}

/* Animation en arrivant sur le menu */

@keyframes plate {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.entree { 
    animation: plate 250ms linear forwards 1s;
    
}

.main-dish {
    animation: plate 250ms linear forwards 2s;
    
    
}

.dessert {
    animation: plate 250ms linear forwards 3s; 
    
}




